/* Resetting default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Setting default font family */
}
/* Smooth scrolling behavior for HTML */
html {
  scroll-behavior: smooth;
}
/* Setting background color for the body */
body {
  background: #f2f2f2;
}
/* Styling for the fixed header */
header {
  position: fixed; /* Fixing the header at the top */
  top: 0;
  left: 0;
  z-index: 5; /* Ensuring it's above other content */
  width: 100%;
  display: flex;
  justify-content: center;
  background: #333; /* Setting background color */
}
/* Styling for the navigation bar */
.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
/* Hiding the menu toggler input */
.navbar input#menu-toggler {
  display: none;
}
/* Styling for the hamburger button */
.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}
/* Styling for the links in the navbar */
.navbar .all-links {
  display: flex;
  align-items: center;
}
/* Styling for list items in the navbar */
.navbar .all-links li {
  position: relative;
  list-style: none;
}
/* Styling for the logo in the navbar */
.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}
/* Styling for links in header and footer */
header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}
/* Hover effect for links */
header a:hover, footer a:hover {
  color: #ddd; /* Changing color on hover */
}
/* Styling for the homepage section */
.homepage {
  height: 100vh; /* Full viewport height */
  width: 100%;
  position: relative;
  background: url("guitar.jpg"); /* Background image */
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}
/* Overlay on homepage background */
.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent overlay */
}
/* Styling for content within homepage */
.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* Styling for heading in homepage content */
.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}
/* Styling for text within homepage content */
.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;  /* Text color */
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Text shadow */
}
/* Styling for links within content */
.content a {
  color: #000; /* Link color */
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff; /* Background color */
  border: 2px solid #fff; /* Border */
  transition: 0.4s ease; /* Transition effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Box shadow */
  text-decoration: none;
}
/* Hover effect for links */
.content a:hover {
  color: #fff; /* Changing color on hover */
  background: rgba(255,255,255,0.3); /* Changing background color on hover */
}
/* Styling for sections */
section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}
/* Styling for section headings */
section h2 {
  font-size: 2rem;
}
/* Styling for paragraph within sections */
section > p {
  text-align: center;
}
/* Styling for card containers within sections */
section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}
/* Styling for portfolio section */
section.portfolio {
  margin: 0 auto;
  max-width: 1200px;
}
/* Styling for age and birth info within portfolio */
.portfolio .age-birth {
  text-align: left;
  width: 100%;
  margin-top: 30px;
}
/* Styling for headings within portfolio */
.portfolio h3 {
  margin: 30px 0 10px;
}
/* Styling for educational background within portfolio */
.portfolio .edback {
  text-align: left;
  width: 100%;
}
/* Styling for team within portfolio */
.portfolio .team ul {
  padding-left: 20px;
}
/* Styling for cards within sections */
section .cards .card {
  background: #fff; /* Background color */
  padding: 40px 15px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04); /* Box shadow */
  margin-bottom: 40px;
  width: calc(100% / 3 - 30px);
  text-align: center;
}
/* Styling for images within cards */
section .card img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20%;
}
/* Styling for paragraphs within cards */
section .card p {
    margin-top: 5px;
}
/* Styling for cards within portfolio section */
.portfolio .cards .card {
  padding: 0 0 20px;
}
/* Styling for images within portfolio cards */
.portfolio .card img {
  width: 100%;
  padding-bottom: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 7px;
}
/* Styling for paragraphs within cards */
.cards .card p {
  padding: 0 15px;
  margin-top: 5px;
}

.contact .row {
  margin: 60px 0 90px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contact .row .col {
  padding: 0 10px;
  width: calc(100% / 2 - 50px);
}

.contact .col p {
  margin-bottom: 30px;
}

.contact .col p i {
  color: #7a7a7a;
  margin-right: 10px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #333;
    color: white;
  }
  
  /* Twitter */
  .fa-instagram {
    background: #333;
    color: white;
  }

.contact form button:hover {
  background: #525252;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  padding: 20px 0;
}

footer div {
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: #fff;
}

footer a {
  padding: 0;
}

@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #333;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}